index:
  .container
    .row
      .col-md-4
        view(name="topics")
      .col-md-7
        view(name="items")

topics:
  button.btn.btn-success(on-click="add()") Add Topic

  ul.list-group
    each topics as #topic
      a.list-group-item(class="{{if #root._page.id === this.id}}active{{/}}", href="/topics/{{this.id}}") {{this.id}}
        span.badge {{this.ids.length}}


items:
  button.btn.btn-success(on-click="add()") Add Item

  ul.list-group
    each items as #item
      li.list-group-item {{this.id}}
