index:
  .container
    .row
      .col-md-4
        view(name="topics")
      .col-md-8
        view(name="items")

topics:
  button.btn.btn-success(on-click="addTopic()") Add Topic
  hr

  ul.list-group
    each topics as #topic
      a.list-group-item(class="{{if #root._page.id === this.id}}active{{/}}", href="/topics/{{this.id}}") {{this.id}}
        span.badge {{this.ids.length}}


items:
  if #root._page.id
    button.btn.btn-danger(on-click="delTopic()") Del Topic
    span &sp; {{#root._page.id}}
    button.btn.btn-success.pull-right(on-click="addItem()") Add Item
    hr

    if #root._page.items.length
      table.table.table-condensed.table-stripped
        thead
          tr
            th.col-md-12 id
            th
            th
            th: span.glyphicon.glyphicon-trash
        tbody
          each #root._page.items as #item, #i
            tr
              td {{#item.id}}
              td: span.glyphicon.glyphicon-arrow-up(on-click="upItem(#i)")
              td: span.glyphicon.glyphicon-arrow-down(on-click="downItem(#i)")
              td: span.glyphicon.glyphicon-remove-circle(on-click="delItem(#item, #i)")
    else
      h3 Add item?
  else
    h3 Add topic?
